@model WebApplication1.Models.Instrument

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolvo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolvo)
        </dd>

    </dl>
</div>

    @Html.ActionLink("Edit", "Edit", new { id = Model.InstrumentID }) |
    <p><a class="btn btn-default" href="@Url.Action("Index", "Requests")">Заявки &raquo;</a></p>

