@model IEnumerable<WebApplication1.Models.Instrument>

@{
    ViewBag.Title = "Инвентарь";
}

<h2>Инвентарь</h2>

<p>
    @Html.ActionLink("Добавить новый инструмент", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kolvo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolvo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.InstrumentID }) |
            @Html.ActionLink("Информация", "Details", new { id=item.InstrumentID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.InstrumentID })
        </td>
    </tr>
}

</table>
    <p><a class="btn btn-default" href="@Url.Action("Index", "Requests")">Заявки &raquo;</a></p>


